* {
  margin: 0;
  padding: 0;
}

/* cancel default jQuery Mobile style */
.ui-page {
    background: white !important;
    padding: 0px !important; 
}

.ui-content {
    background: white !important;    
}


/* TITLE SCREEN */
/*......................................*/
  #title-screen {
    text-align: center;
    margin-top: 100px;
   }
 
  /* make keyframes that tell the start state and the end state of our object */
   
  @-webkit-keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
  @-moz-keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
  @keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
   
  .fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
   
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
   
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    animation-duration: 3s;
  }
   
  .fade-in.one {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
  }
   
  .fade-in.two {
  -webkit-animation-delay: 3s;
  -moz-animation-delay:3s;
  animation-delay: 3s;
  }

  #logo {
    margin-bottom: 40px;
  }

  #empty-header {
    opacity: 0;
  }

/* HOME PAGE settings */
/*......................................*/

  #home-page-content {
    padding-top: 140px;
    padding-right: 40px;
    padding-left: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  /* Header on home page */
  /*............................... */

  #project-details {
    margin: 0px 40px;
    font-size: 20px;
  }
  #project-details div{
    padding: 10px;
  }

  #introduction {
    flex: 1;
    text-align: center;
    padding: 20px 20px;
    border-radius: 6px;
    line-height: 1.8em;   
    overflow: scroll;
    background-color: #E9E9E9;
    padding: 20px;
    height: 100%;
  }

  #introduction h1 {
    margin: 20px;
  }

  #accordion {
    flex: 2;
    margin-left: 20px;
  }
  .ui-collapsible-set {
    margin: 0px 0px;
  }
  #begin {
    margin-top: 20px;
  }

  /* ABOUT PAGE SETTINGS */
  /*....................................*/

  #about-page-content {
    margin: 0 auto;
    width: 70%;
    padding-top: 140px;
    padding-left: 20px;
    padding-right: 20px;
  }

  #about-page-content h2 {
    margin-bottom: 20px;
  }

  /* div containing info about all group members */
  #group-members {
    display: flex;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   -webkit-align-content: space-between;
   align-content: space-between;
  }

  /* div containing info about all group members */
  #group-members {
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
  }

  /* div container for each member */
  .member {
    background-color: #E9E9E9;
    padding: 10px;
    -webkit-flex: 20%;
    -moz-flex: 20%;
    -ms-flex: 20%;
    flex: 20%; 
    text-align: center;
    margin: 15px;
    -moz-border-radius-topleft: 90px;
    -webkit-border-top-left-radius: 90px;
    border-top-left-radius: 90px;
    -moz-border-radius-bottomright: 90px;
    -webkit-border-bottom-right-radius: 90px;
    border-bottom-right-radius: 90px;
  }

  .member h3 {
    text-align: center;
  }

  /* text about each member */
  .about-member {  
    margin:  0 auto;
    width: 80%;
    padding: 15px;
    padding-top: 0px;
  }

/* TUTORIAL PAGE */
/* ....................................*/
  .ui-tooltip {
      font-size: 12px;
      padding: 15px;
      border-radius: 20px;
      box-shadow: 0 0 7px black;
      border: 2px solid white;
    }

/* MAIN GAME settings */
/*......................................*/

/* example settings for page background */
 #tutorial-content {
    padding-top: 100px;
    /*background-color: #fff;
    background-image: url("#");
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;*/
  }

  /* external header settings */
  #header2 {
    background-color: rgba(0,0,0,.7);
  }

  #header2-content {
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    width: 100%;
    display: flex;
  }

  #playerDetails {
    display: none;
  }

#header2-content #set-description {
  flex: 3;
  line-height: 20px;
  text-align: left;
  display: block;
}

  #header2-content #user-points {
    flex: 2;
    display: inline;
  }

   #header2-content #user-points input {
      text-align: center;
      border: 2px solid white;
   }

   /* container for 3 images with penguins */
  #header2-content #penguins {
    text-align: center;
    padding: 10px;
    flex: 2;
  }

  #header2-content .penguin {
    background-image: url("images/penguin.png");
    background-size: cover;
    border: 1px solid white;
    border-radius: 3em;
    background-color: black;
    height: 40px;
    width: 40px;
    display: inline-block;
  }

  #header2-content #controls {
    margin-top: 10px;
    margin-right: 20px;
    flex: 2;
  }

  /* reduce size of fieldsets to half*/
  .text-container {
    width: 50%;
  }

  .text-container p, h3 {
    text-align: justify;
    padding: 15px;
  }

  #city-content, #forest-content, #mountain-content, #desert-content, #final-battle-content {
    padding-top: 100px;
  }
