/* TITLE SCREEN */
/*......................................*/
  #title-screen {
    text-align: center;
    margin-top: 100px;
   }

  #logo {
    border-radius: 10em;
    border: 1px solid black;
  }

/* HOME PAGE settings */
/*......................................*/

  #home-page-content {
    display: flex;
  }
  /* Header #1 */
  /*.....................*/
  #project-details {
    margin: 10px 50px;
    font-size: 20px;
  }
  #info, #about {
    margin-left: 10px;
  }

  #introduction {
    border: 1px solid black;
    flex: 1;
    text-align: center;
    padding: 10px 20px;
    border-radius: 6px;
    line-height: 2em;   
    overflow: scroll;
    background-color: #E9E9E9;
    padding: 20px;
  }

  #accordion {
    flex: 2;
    margin: 20px;
    text-align: left;
    outline: none;
  }

  #begin {
    border: 1px solid green;
  }

  /* ABOUT PAGE SETTINGS */
  /*....................................*/

  #about-page-content {
    margin: 0 auto;
    width: 70%;
  }

  /* div containing info about all group members */
  #group-members {
    display: flex;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   -webkit-align-content: space-between;
   align-content: space-between;
  }

  /* div container for each member */
  .member {
    background-color: #E9E9E9;
    padding: 20px;
    display: 1;
    text-align: center;
    margin: 15px;
    -moz-border-radius-topleft: 90px;
    -webkit-border-top-left-radius: 90px;
    border-top-left-radius: 90px;
    -moz-border-radius-bottomright: 90px;
    -webkit-border-bottom-right-radius: 90px;
    border-bottom-right-radius: 90px;
  }
  /* text about each member */
  .about-member {  
  }

/* MAIN GAME PAGE settings */
/*......................................*/

/* example settings for page background */
 #tutorial-content {
    background-color: #fff;
    background-image: url("#");
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
  }

  /* external header settings */
  #header2 {
    background-color: rgba(0,0,0,.7);
  }

  #header2-content {
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    width: 100%;
    display: flex;
  }

#header2-content #set-description {
  flex: 3;
  line-height: 20px;
  text-align: left;
  display: block;
}

  #header2-content #user-points {
    flex: 2;
    display: inline;
  }

   #header2-content #user-points input {
      text-align: center;
   }

   /* container for 3 images with penguins */
  #header2-content #penguins {
    text-align: center;
    padding: 10px;
    flex: 2;
  }

  #header2-content .penguin {
    background-image: url("images/penguin.png");
    background-size: cover;
    border: 1px solid white;
    border-radius: 3em;
    background-color: black;
    height: 40px;
    width: 40px;
    display: inline-block;
  }

  #header2-content #controls {
    margin-top: 10px;
    margin-right: 20px;
    flex: 2;
  }

