* {
  margin: 0;
  padding: 0;
}

/* overwrite default jQuery Mobile style */
.ui-page {
  background-color: #25B0E6;
  background: -webkit-linear-gradient(89deg, #e6ed60, #1faeeb);
  background: -moz-linear-gradient(89deg, #e6ed60, #1faeeb);
  background: linear-gradient(89deg, #e6ed60, #1faeeb);
  padding: 0px !important; 
  font-family: 'Roboto', sans-serif;
}

/* TITLE SCREEN */
/*......................................*/
  #title-screen {
    text-align: center;
    margin-top: 100px;
}
  /* make keyframes that tell the start state and the end state of our object */
   
  @-webkit-keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
  @-moz-keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
  @keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
   
.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
   
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
   
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    animation-duration: 3s;
}
   
  .fade-in.one {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
  }
   
  .fade-in.two {
  -webkit-animation-delay: 3s;
  -moz-animation-delay:3s;
  animation-delay: 3s;
  }

  #logo {
    margin-bottom: 40px;
  }

  #empty-header {
    opacity: 0;
  }

  /* BUTTONS ON TITLE SCREEN AND HOME PAGE */
  /*.................................................... */
   #title-screen .ui-btn, #accordion .ui-input-btn, #about, #begin, #back-home-btn, #victory-content .ui-btn {
      background-color: rgba(0,0,0,.5);
      text-shadow: none;
      text-transform: uppercase;
      color: white;
      border: none;
      transition: all 0.5s ease;
      font-family: 'Raleway', sans-serif;
   }

  #accordion .ui-input-btn:hover, #about:hover, #about:focus, #begin:hover, #back-home-btn:hover,  #title-screen .ui-btn:hover,  #victory-content .ui-btn:hover  {
    -webkit-box-shadow: 0px 0px 13px 0px rgba(170, 246, 255, 0.84);
    -moz-box-shadow:    0px 0px 13px 0px rgba(170, 246, 255, 0.84);
    box-shadow:         0px 0px 13px 0px rgba(170, 246, 255, 0.84);
  }

/* HOME PAGE settings */
/*......................................*/

  #home-page-content {
    padding-top: 140px;
    padding-right: 60px;
    padding-left: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  /* Header on home page */
  /*............................... */

  #header1 {
    background-color: rgba(0,0,0,.7);
    border-bottom: 2px solid #FCEC5B;
  }

  #project-details {
    margin: 0px 40px;
    font-size: 20px;
  }
  #project-details div{
    padding: 10px;
  }

  #introduction {
    color: #f0f0f0;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 17px;
    text-shadow: none;
    flex: 1;
    text-align: center;
    padding: 20px 20px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    line-height: 1.8em;   
    background-color: rgba(0,0,0,.7);
    padding: 20px;
    height: 100%;
    -webkit-box-shadow: 0px 5px 18px 0px rgba(25, 25, 25, 0.56);
    -moz-box-shadow:    0px 5px 18px 0px rgba(25, 25, 25, 0.56);
    box-shadow:         0px 5px 18px 0px rgba(25, 25, 25, 0.56);
  }

  #introduction h1 {
    margin: 20px;
  }

  #accordion {
    flex: 2;
    margin-left: 20px;
    border-radius: 6px;  
  }

  .ui-collapsible-set {
    margin: 0px 0px;
  }   

  #accordion .ui-collapsible-heading .ui-btn {
    background: rgba(0,0,0,.6);
    color: white;
    text-shadow: none;
    border: none;
  }

  #accordion .ui-collapsible-content {
    background: rgba(0,0,0,.4);
    color: white;
    text-shadow: none;
    }

  #accordion .ui-collapsible-content .ui-input-text  {
    border: 1px ridge black;
  }

  /* select option styling */
  #accordion .ui-select .ui-btn {
    background-color: #7ACBAC;
    border: none;
    text-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  #accordion a.ui-input-clear {
    background: rgba(0,0,0,.6);
  }

  #accordion #col4 h4 {
    margin-bottom: 15px;
    margin-top: 15px;
  }

  #assign-points label {
    text-transform: uppercase;
    font-weight: 500;
  } 

  #errmsg, #errmsg1, #errmsg2 {
    color: red;
  }

   /* select option menu styling */
#select-choice-0-menu li a {
      background-color: white !important;
      text-shadow: none !important;
    }

  #select-choice-0-menu li a:focus,  #select-choice-1-menu li a:focus {
      background-color: #40B8D4 !important;
    }

   #select-choice-0-menu li, #select-choice-1-menu li {
      font-family: 'Raleway', sans-serif !important;
   }

  #begin {
    margin-top: 20px;
  }

  /* ABOUT PAGE SETTINGS */
  /*....................................*/

  #about-page-content {
    margin: 0 auto;
    width: 70%;
    padding-top: 140px;
    padding-left: 20px;
    padding-right: 20px;
  }

  #about-page-header {
    background-color: rgba(0,0,0,.7);
    border-bottom: 2px solid #FCEC5B;
  }

  #about-page-content h2 {
    margin-bottom: 20px;
  }

  /* div containing info about all group members */
  #group-members {
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  /* div container for each member */
  .member {
   background-color: rgba(0,0,0,.7);
    border-bottom: 2px solid #FCEC5B;
    color: white;
    text-shadow: none;
    text-align: center;
    -webkit-box-shadow: 0px 5px 18px 0px rgba(25, 25, 25, 0.56);
    -moz-box-shadow:    0px 5px 18px 0px rgba(25, 25, 25, 0.56);
    box-shadow:         0px 5px 18px 0px rgba(25, 25, 25, 0.56);
    padding: 10px;
    -webkit-flex: 20%;
    -moz-flex: 20%;
    -ms-flex: 20%;
    flex: 20%; 
    margin: 15px;
    -moz-border-radius-topleft: 90px;
    -webkit-border-top-left-radius: 90px;
    border-top-left-radius: 90px;
    -moz-border-radius-bottomright: 90px;
    -webkit-border-bottom-right-radius: 90px;
    border-bottom-right-radius: 90px;
  }

  .member h3 {
    text-align: center;
    padding: 10px;
  }
  /* text about each member */
  .about-member { 
    text-align: left; 
    margin:  0 auto;
    width: 80%;
    padding: 15px;
    padding-top: 0px;
  }

/* TUTORIAL PAGE */
/* ....................................*/

  .ui-tooltip {
      font-size: 16px;
      padding: 15px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      -webkit-box-shadow: 0 0 7px black;
      -moz-box-shadow: 0 0 7px black;
      box-shadow: 0 0 7px black;
      border: 2px solid white;
      text-shadow: none;
      color: #E0FFFF;
      background: -webkit-linear-gradient(272deg, #0f6d80, #27b0e5);
      background: -moz-linear-gradient(272deg, #0f6d80, #27b0e5);
      background: linear-gradient(272deg, #0f6d80, #27b0e5);
      font-family: 'Raleway', sans-serif;
    }

/* MAIN GAME settings */
/*......................................*/

 #tutorial-content {
    padding-top: 120px;
  }

  /* external header settings */
  #header2 {
    background-color: rgba(0,0,0,.7);
    border-bottom: 1px solid black;
  }

  #header2-content {
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    width: 100%;
    display: flex;
  }

#header2-content #set-description {
  flex: 2;
  line-height: 22px;
  text-align: left;
  display: block;
  font-family: 'Raleway', sans-serif;
}

#set-char, #set-goal, #set-name {
  color: rgba(44, 178, 225, 1);
  font-size: 15px;
}

  #header2-content #user-points {
    flex: 3;
    display: inline;
  }

  #user-points .ui-state-disabled {
      opacity: 1;
      border: 1px solid #00BFFF;
  }

   #header2-content #user-points input {
      text-align: center;
   }

   /* container for 3 images with penguins */
  #header2-content #penguins {
    text-align: center;
    flex: 1;
    background-color: rgba(44, 178, 225, 0.6);
    background-image: url(images/ice.jpg);
    background-position: center center;
    background-size: cover;
    height: 40px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin: 10px 30px;
    border: 1px solid black;
    padding-bottom: 2px;
    padding-top: 2px;
  }

  #header2-content .penguin {
    margin: 1px;
    background-color: black;
    background-image: url("images/penguin.png");
    background-size: cover;
    border: 1px solid black;
    -webkit-border-radius: 3em;
    -moz-border-radius: 3em;
    border-radius: 3em;
    height: 36px;
    width: 36px;
    display: inline-block;
  }

  #header2-content #controls {
    margin-top: 10px;
    margin-right: 20px;
    flex: 2;
  }

  /* backpack stying */
  #mypanel {
    padding: 10px;
    padding-left: 20px;
    line-height: 2em;
    -webkit-box-shadow: 8px 3px 12px 0px rgba(25, 25, 25, 0.62);
    -moz-box-shadow:    8px 3px 12px 0px rgba(25, 25, 25, 0.62);
    box-shadow:         8px 3px 12px 0px rgba(25, 25, 25, 0.62);
    border-right: 1px solid #639DBC;
  }

  #mypanel h3 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #mypanel li {
    margin-bottom: 10px;
  }

  #mypanel .ui-btn {
    margin-top: 20px;
  }

  #mypanel .ui-btn:hover {
    background-color: rgba(44, 178, 225, 0.6)!important;
    transition: all 0.5s ease;
     -webkit-box-shadow: -2px 0px 12px 0px rgba(44, 178, 225, 0.75);
    -moz-box-shadow:    -2px 0px 12px 0px rgba(44, 178, 225, 0.75);
    box-shadow:         -2px 0px 12px 0px rgba(44, 178, 225, 0.75);
  }

  /* popup with hints */
  #popupDialog .ui-header {
    background: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }

  #popupDialog .ui-btn .ui-icon-delete {
    background-color: dimgray !important;
  }

  #popupDialog {
    background: -webkit-linear-gradient(272deg, #0f6d80, #27b0e5);
    background: -moz-linear-gradient(272deg, #0f6d80, #27b0e5);
    background: linear-gradient(272deg, #0f6d80, #27b0e5);
    font-family: 'Raleway', sans-serif;
    text-shadow: none;
  }

  /* styling of the main game text container */
  .text-container {
    font-size: 16px;
    width: 100%;
    text-align: center;
    padding: 15px;
    line-height: 30px;
    background-color: rgba(0,0,0,.8);
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: 'Roboto', sans-serif;
  }

  .ui-btn-icon-left::after {
    left: 0.4em;
  }

  /* rewrite default button settings for theme b */
  html .ui-bar-b .ui-btn:focus, html .ui-bar-b .ui-btn:active, html .ui-bar-b .ui-btn:hover {
    -webkit-box-shadow: -2px 0px 12px 0px rgba(44, 178, 225, 0.75);
    -moz-box-shadow:    -2px 0px 12px 0px rgba(44, 178, 225, 0.75);
    box-shadow:         -2px 0px 12px 0px rgba(44, 178, 225, 0.75);
    background-color: rgba(44, 178, 225, 0.6);
    transition: all 0.5s ease;
  }

  /* text alignment for the text in the heading (Chrome and Safari) */
  .text-container .ui-controlgroup-label {
          margin: 0 auto !important;
          width: 60%;
          text-align: center;
  }
  .text-container legend {
          margin: 0 auto !important;
          width: 100%;
          text-align: center;
  }

  .text-container .ui-btn {
    text-align: center;
  }

  .text-container h3 {
    padding: 15px;
    font-size: 18px;
  }

  #victory-content {
    text-align: center;
    padding-top: 200px;
  }

  #tutorial-page {
    background-color: rgba(44, 178, 225, 0.5);
    background-image: url(images/HubCity.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 130% 130%;
  }

  #city-page {
    background-color: rgba(44, 178, 225, 0.5);
    background-image: url(images/Crossroad.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  #forest-page {
    background-color: rgba(44, 178, 225, 0.5);
    background-image: url(images/Forest.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  #mountain-page {
    background-color: rgba(44, 178, 225, 0.5);
    background-image: url(images/Mountains.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }

   #desert-page {
    background-color: rgba(44, 178, 225, 0.5);
    background-image: url(images/Desert.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 100%;
  }

   #python-page {
    background-color: rgba(44, 178, 225, 0.5);
    background-image: url(images/PythonNest.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
	
   /* 'Game over' popup dialogs */
  #popupDead, #popupDeadM, #popupDeadD, #popupDeadP {
    text-align: center;
    padding: 20px;
  }

  #popupDead .ui-btn, #popupDeadM .ui-btn, #popupDeadD .ui-btn, #popupDeadP .ui-btn { 
    margin-top: 15px;
  }

  #popupDead .ui-btn:hover, #popupDeadM .ui-btn:hover, #popupDeadD .ui-btn:hover, #popupDeadP .ui-btn:hover { 
    background-color: rgba(44, 178, 225, 0.6);
    transition: all 0.5s ease;
    -webkit-box-shadow: -2px 0px 12px 0px rgba(44, 178, 225, 0.75);
    -moz-box-shadow:    -2px 0px 12px 0px rgba(44, 178, 225, 0.75);
    box-shadow:         -2px 0px 12px 0px rgba(44, 178, 225, 0.75);
  }

  #victory-page {
    background: -webkit-linear-gradient(92deg, #e8f03e, #2ccced, #9c2ced);
    background: -moz-linear-gradient(92deg, #e8f03e, #2ccced, #9c2ced);
    background: linear-gradient(92deg, #e8f03e, #2ccced, #9c2ced);
    background-size: 400% 400%;

    -webkit-animation: changeBackgroundColor 30s ease infinite;
    -moz-animation: changeBackgroundColor 30s ease infinite;
    animation: changeBackgroundColor 30s ease infinite;
  }

  @-webkit-keyframes changeBackgroundColor {
      0%{background-position:0% 91%}
      50%{background-position:100% 10%}
      100%{background-position:0% 91%}
  }
  @-moz-keyframes changeBackgroundColor {
      0%{background-position:0% 91%}
      50%{background-position:100% 10%}
      100%{background-position:0% 91%}
  }
  @keyframes changeBackgroundColor { 
      0%{background-position:0% 91%}
      50%{background-position:100% 10%}
      100%{background-position:0% 91%}
  }

@media all and (max-width: 48em) {
  
/* TITLE SCREEN */
/*......................................*/
  #title-screen {
    margin-top: 60px;
  }

   #logo {
    width: 300px;
    height: 208px;
    margin-bottom: 30px;
  }


  /* HOME PAGE settings */
  /*......................................*/

  #home-page-content {
    padding: 20px;
    flex-direction: column;
    align-items: stretch;
    padding-top: 120px;
  }

 #project-details {
    margin: 5px 5px;
    font-size: 18px;
  }

  #introduction {
    border: 1px solid black;
    flex: 1;
    font-size: 16px;
    padding: 10px;
    line-height: 1.5em;   
  }

  #introduction h1 {
     margin: 15px;
     font-size: 20px;
    }

  #accordion {
    flex: 1;
    margin: 0px;
    margin-top: 10px;
    text-align: center;
  }

  #accordion input {
    text-align: center;
     font-size: 15px;
  }

  #begin {
    margin-top: 15px;
  margin-bottom: 10px;
  }

/* ABOUT page settings */
/* ...................................... */

 #about-page-content {
    padding: 20px;
    margin: 0 auto;
    width: 90%;
    padding-top: 120px;
    font-size: 15px;
  }

  #about-page-content h2 {
    font-size: 17px;
  }

  #group-members {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .member {
    margin: 5px;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  /* MAIN GAME settings */
  /*......................................*/

  #tutorial-content, #city-content {
    padding-top: 200px;
  }

  #header2-content {
    padding-right: 5px;
    padding-left: 5px;
    flex-wrap: wrap;
 }

  #header2-content #set-description {
    display: none;
  }

  #header2-content #user-points {
    flex: 1;
    order: 3;
    margin-right: 10px;
  }

  #user-points label  {
    font-size: 13px;
  }

  #header2-content #user-points input {
    height: 4px;
  }

   /* container for 3 images with penguins */
  #header2-content #penguins {
    text-align: center;
    flex: 100%;
    order: 2;
    height: 35px;
    padding-bottom: 1px;
    padding-top: 1px;
  }

  #header2-content .penguin {
    height: 30px;
    width: 30px;
  }

  #header2-content #controls {
    margin: 5px;
    flex: 100%;
    order: 1;
  }

   /* popup with hints */
  #popupDialog .ui-header {
    font-size: 14px;
  }

  #popupDialog {
    font-size: 13px;
  }

  .text-container {
    font-size: 14px;
    width: 100%;
    text-align: center;
    padding: 5px;
    line-height: 25px;
    margin: 5px;
    position: relative;
  }

  .text-container h3 {
    padding: 10px;
    font-size: 16px;
  }

  #forest-content, #mountain-content, #desert-content, #victory-page, #final-battle-content {
    padding-top: 200px;
  }

  #victory-content {
    text-align: center;
  }

 #victory-logo {
    width: 300px;
    height: 130px;
  }

  #tutorial-page {
    background-image: url(images/HubCity.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 220% 100%;
  }

  #city-page {
    background-image: url(images/Crossroad.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  #forest-page {
    background-image: url(images/Forest.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }

  #mountain-page {
    background-image: url(images/Mountains.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }

   #desert-page {
    background-image: url(images/Desert.png);
    background-repeat: no-repeat;
    background-position: center left;
    background-size: cover;
  }

   #python-page {
    background-image: url(images/PythonNest.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

